<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=], initial-scale=1.0">
        <title>Calculadora de dano 1.0</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body background="/static/img/fund.gif">
        <div><!-- principal -->
            <div class="titulo">
                <div class="nomejogo">
                    <h3>   STREET KOMBAT   </h3>
                </div>  
            </div>
                <div class="texto">
                    <div class="pl1">
                    <h3><u>PLAYER 1</u></h3>
                    </div>
                
                
                
                    <div class="pl2">
                    <h3><u>PLAYER 2</u></h3>
                    </div>
                </div>
            
            <div class="box">         
                <div class="alvos">
                    <div class="per">
                        
                        <img src="/static/img/Scorpion.gif" width="150" height="300" alt="">
                        <br /><br />
                        <b>SCORPION</b>
                    </div>

                    <div class="per">
                        <img src="/static/img/Raiden.gif" width="150" height="300" alt="">
                        <br /><br />
                        <b>RAIDEN</b>
                    </div>

                    <div class="per">
                        
                        <img src="/static/img/Ermac.gif" width="150" height="300" alt="">
                        <br /><br />
                        <b>ERMAC</b>
                    </div>
                </div>
                    
                <button id="calcular" type="button">J<br />O<br />G<br />A<br />R</button>
            
                <div class="armas">
                    <div class="per">
                        <img src="/static/img/akuma.gif" width="150" height="300" alt="">
                        <br /><br />
                        <b>AKUMA</b>
                    </div>
                    <div class="per">
                        <img src="/static/img/ken.gif" width="150" height="300" alt="">
                        <br /><br />
                        <b>KEN MASTERS</b>
                    </div>
                    <div class="per">
                        <img src="/static/img/ryu.gif" width="150" height="300" alt="">
                        <br /><br />
                        <b>RYU</b>
                    </div>
                </div>
            </div>

        </div><!-- principal -->
    </body>
</html>