<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes DOM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body background='/static/img/fundaum.gif'>
        {% include 'header.html' %}

        <div class="bloco">
            <h2>
                CATÁLOGO DE ANIMES
            </h2>
        </div>
        <div class="bloco">
            <table class="tabela">
                <tr class="tabela_header">
                    <!-- <td><h2>ID</h2></td> -->
                    <td><h2>Nome</h2></td>
                    <td><h2>Capa</h2></td>
                    <td><h2>Gênero</h2></td>
                    <td><h2>Ações</h2></td>
                </tr>
                {% for registro in registros %}

                <tr class="apresentacao">
                    <!-- <td><h2>{{ registro['id'] }}</h2></td> -->
                    <td><h2>{{ registro['nome'] }}</h2></td>
                    <td><img src="{{ registro['imagem_url'] }}" alt="{{ registro['nome'] }}" width="150" height="200" /></td>
                    <td><h2>{{ registro['genero'] }}</h2></td>
                    <td>
                        <a href="/read/{{ registro['id'] }}" class="botao">VER</a>
                        <a href="/update/{{ registro['id'] }}" class="botao">EDITAR</a>
                        <a href="/delete/{{ registro['id'] }}" class="botao">REMOVER</a>
                    </td>
                </tr>

                {% endfor %}

            </table>
        </div>
        
    </body> 
</html>