@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    margin: 0;    
}
.header{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}
#bthdr{
    margin-top: 230px;
    background-color: rgba(56, 56, 56, 0.623);;
}
.bloco{
    display: flex;
    justify-content: center;
    text-align: center;
}
.botao{
    background-color: #172f91d2;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.796);
}
#botao{
    background-color: #172f91d2;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.796);
}
.botao:hover{
    background-color:  #5673ee;
    transition: 0.25s;
}
#botao:hover{
    background-color:  #5673ee;
    transition: 0.25s;
}
.tabela{
    border-spacing: 0;
    margin: 0 50px 20px;
    width: 100%;
}
.tabela tr:nth-child(even) td{
    background-color: rgba(56, 56, 56, 0.623);
}
.tabela td{
    padding: 10px;
    color: whitesmoke;
}
.tabela_header td{
    font-weight: bold;
    background: #172f91d2;   
}
#imagemSingle{
    max-height: 400px;
}
.form{
    width: 600px;
}
.form_input{
    align-items: center;
    justify-content: space-between;
}
.form_input label{
    font-weight: bold;
    padding-right: 10px;
    color: white;
}
.form_input input[type=text]{
    background-color: rgba(255, 255, 255, 0.301);
    width: 450px;
    padding: 6px;
    margin: 6px 0;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}   
.form_input input[type=submit]{
    width: 100%
}
.novo_id {
    background: rgba(56, 56, 56, 0.623);
    border-radius: 5px; 
    padding: 6px;
    font-size: 25px;
    font-weight: bold; 
    padding: 5x 20px;
}
.bloco h1{
    color: white;
}
.bloco h2{
    color: white;
    justify-content: center;
}
.cx_create{
    background-color: rgba(56, 56, 56, 0.623);
    padding: 50px 50px 50px 50px;
    margin: 10px 660px 10px 660px;
}
.cx_update{
    background-color: rgba(56, 56, 56, 0.623);
    padding: 50px;
    margin: 10px 660px 10px 660px;
}
.cx_read_single{
    background-color: rgba(56, 56, 56, 0.623);
    padding: 50px 50px 50px 50px;
    margin: 10px 300px 10px 300px;
}
.sucesso{
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 4px;
    color: #155724;
    margin: 0 50px;
}
.removido{
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 4px;
    color: #721c24;
    margin: 0 50px;
}
.certeza{
    font-size: 25px;
    font-weight: bolder;
}
#sinopse{
    box-sizing: border-box;
    height: 350px;   
}